<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sundayliu.demo"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />"
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:allowBackup="false">
        <activity android:name="Demo"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sundayliu.demo.ListViewActivity" android:label="ListView"></activity>
        
        <activity android:name="com.sundayliu.android.listview.CustomListActivityExample"></activity>
        <activity android:name="com.sundayliu.android.listview.ListViewActionBarActivity"></activity>
        <activity android:name="com.sundayliu.android.listview.ListViewExampleActivity"></activity>
        <activity android:name="com.sundayliu.android.listview.ListViewUndoActivity"></activity>
        <activity android:name="com.sundayliu.android.listview.MultipleListViewActivity"></activity>
        <activity android:name="com.sundayliu.android.listview.SimpleCursorActivity"></activity>
        <activity android:name="com.sundayliu.android.listview.SimpleListActivityCustomAdapter"></activity>
        <activity android:name="com.sundayliu.android.listview.SimpleListActivityExample"></activity>
        <activity android:name="com.sundayliu.android.listview.SimpleListActivityPerformanceAdapter"></activity>
        <activity android:name="com.sundayliu.android.listview.SingleListViewActivity"></activity>
        <activity android:name="com.sundayliu.android.listview.TwoListItemsActivity"></activity>
        <activity android:name="com.sundayliu.android.listview.BookShelfListView"></activity>
        <activity android:name="com.sundayliu.android.listview.PcsaltActivity"></activity>
        
        
        <activity android:name="com.sundayliu.demo.NetworkActivity"></activity>
        
        <activity android:name="com.sundayliu.android.network.HttpActivity"></activity>
        <activity android:name="com.sundayliu.android.network.Http2Activity"></activity>
        <activity android:name="com.sundayliu.android.network.GetJsonActivity"></activity>
        <activity android:name="com.sundayliu.android.network.PostJsonActivity"></activity>
    </application>
    
</manifest>
